.menu-wrap {
    background: #00a6eb;
}

ul.main-menu {
    position: relative;
    float: left;
    margin: 0;
}

ul.main-menu > li {
    float: left;
    padding: 12px 36px 12px 37px;
}

ul.main-menu li a {
    padding: 12px 36px 12px 37px;
    color: #ffffff;
    font-size: 17px;
    line-height: 1.5;
    text-decoration: none;
}

ul.main-menu li:hover {
    border-color: #00b6f6;
    background: #00b6f6;
}