.menu-wrap {
    background: #00a6eb;
}

ul.main-menu {
    position: relative;
    float: left;
}

ul.main-menu > li {
    float: left;
}

ul.main-menu li a {
    padding: 12px 36px 12px 37px;
    color: #ffffff;
    font-size: 17px;
    line-height: 1.5;
    text-decoration: none;
}

ul.main-menu li a:hover {
    color: red;
}