.site-main-wrap {
    background: #ffffff;
    padding: 40px 0 40px 0;
    font-size: 14px;
    color: #44525e;
}

.main-content {
    border: 1px solid #edeff1;
}


ul.list-of-post li {
    list-style: disc;
}

ul.list-of-post li a {
    padding: 12px 36px 12px 2px;
    color: #44525e;
    font-size: 17px;
    line-height: 1.5;
    text-decoration: none;
}

.red-1 {
    color: red;
}

.green-2 {
    color: green;
}

.yellow-3 {
    color: yellow;
}

.blue-4 {
    color: blue;
}

.orange-5 {
    color: orange;
}

.pink-6 {
    color: pink;
}

.brown-7 {
    color: saddlebrown;
}

.salmon-8 {
    color: salmon;
}

.blueviolet-9 {
    color: blueviolet;
}

.cyan-0 {
    color: cyan;
}

.etext {
    font-weight: bold;
}