* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    box-sizing: border-box;
    background: #f6f8f9;
    font-family: Arial, Tahoma, sans-serif;
    color: #44525e;
}

p {
    margin: 0;
}

ul {
    list-style: none;
}

h1 {
    font-weight: normal;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.row {
    margin: 0;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}